In [116]:
import pandas as pd
from pyspark.sql import SparkSession

In [111]:
big_list = []
with open('YelpData.txt', 'rb') as f:
    data = f.readlines()

for partial_data in data:
    df = pd.read_json(partial_data)
    for column in df.columns:
        temp = list(df[column])
        temp.insert(0,column)
        big_list.append(temp)
new_df = pd.DataFrame(big_list,columns=["key", "website", "restaurant","date", "review", "rating", "num_votes"])

In [124]:
spark = SparkSession.builder.appName('restaurant_reviews').getOrCreate()
spark_df = spark.createDataFrame(new_df)
spark_df.write.saveAsTable("yelp")

In [125]:
results = spark.sql("SELECT num_votes FROM yelp GROUP BY restaurant")

AnalysisException: "expression 'default.yelp.`num_votes`' is neither present in the group by, nor is it an aggregate function. Add to group by or wrap in first() (or first_value) if you don't care which value you get.;;\nAggregate [restaurant#494], [num_votes#498L]\n+- SubqueryAlias `default`.`yelp`\n   +- Relation[key#492,website#493,restaurant#494,date#495,review#496,rating#497L,num_votes#498L] parquet\n"

In [122]:
spark_df.show()

+--------------------+-------+------------+----------+--------------------+------+---------+
|                 key|website|  restaurant|      date|              review|rating|num_votes|
+--------------------+-------+------------+----------+--------------------+------+---------+
|1nNArxJdbKsBTDiyl...|   Yelp| Sushi Osaka|  2/1/2019|Note to future se...|     1|        1|
|6dn6Z2ZxuN4EvwPOo...|   Yelp| Sushi Osaka|11/27/2018|I've been here tw...|     2|        1|
|7rfumZn_RU5VjaJvC...|   Yelp| Sushi Osaka| 1/28/2019|Great sushi, pric...|     5|        1|
|D15UsRq7j1ttFKbcX...|   Yelp| Sushi Osaka|  9/5/2018|The sushi is deli...|     5|       19|
|HFR1zIJr5ES_3e5nW...|   Yelp| Sushi Osaka| 4/20/2018|Ate here twice in...|     5|       19|
|W6nEFj0l6D1T86Vwm...|   Yelp| Sushi Osaka| 4/28/2018|I was hesitant in...|     2|        5|
|WCIxWyhNgzhaUszTr...|   Yelp| Sushi Osaka|11/10/2018|I went to Sushi O...|     2|        1|
|fGGmLCP2Fz_V5FPRK...|   Yelp| Sushi Osaka| 6/18/2018|Best and cheapest...|     5|       16|
|l7oULh_4repEGZ_lC...|   Yelp| Sushi Osaka|11/15/2018|I went to this pl...|     1|        2|
|7SoqX-S3_SG0luAHX...|   Yelp|Shahi Pakwan|  9/1/2018|Family owned and ...|     5|        1|
|BDY32KrJte8CdnAiM...|   Yelp|Shahi Pakwan| 9/30/2018|Finally there is ...|     5|        1|
|CJ6najIeqkOr8AQtP...|   Yelp|Shahi Pakwan|10/19/2018|Just ate our take...|     4|        0|
|FRd1P4LiNUcZbsAkH...|   Yelp|Shahi Pakwan| 12/9/2018|we were excited a...|     2|        0|
|LgO0aMZt9AVIQHke9...|   Yelp|Shahi Pakwan| 8/29/2018|Stopped in for th...|     1|        1|
|MTxtVEq3VefLgn2yL...|   Yelp|Shahi Pakwan| 12/9/2018|Fantastic Indian ...|     5|        0|
|V8zYAOWRa3w3YdgFc...|   Yelp|Shahi Pakwan| 9/15/2018|Good Indian resta...|     4|        1|
|aHQC2tPu30j92ph1j...|   Yelp|Shahi Pakwan| 9/24/2018|This was the firs...|     5|        0|
|cE9g8KllsCf2Rjwhd...|   Yelp|Shahi Pakwan| 9/24/2018|First time eating...|     5|        0|
|ceMAqKTEuNyFqLEzi...|   Yelp|Shahi Pakwan| 10/4/2018|I really enjoyed ...|     5|        0|
|j-KOBUDUheR_GUUO4...|   Yelp|Shahi Pakwan|  2/2/2019|We visited Shahi ...|     5|        0|
+--------------------+-------+------------+----------+--------------------+------+---------+
only showing top 20 rows